body {
    position: relative;
}

.wext-container {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 400px;
    border: 1px solid lightgray;
    z-index: 10;
    padding: 20px;
    background: lightblue;
}

.hidden {
    display: none;
}