strong {
    font-weight: 700;
}

.infl-form-control {
    margin-bottom: 15px;
}

.infl-form-control select {
    padding: 2px 5px;
}

.switch-btn {
    background: dimgray;
    border: none;
    color: white;
    padding: 10px 20px;
    margin-bottom: 10px;
    display: inline-block;
    text-transform: uppercase;
}

.switch-btn.hidden {
    display: none;
}

.infl-table {
    display: grid;
    border-left: 1px solid #111;
    border-bottom: 1px solid #111;
    margin-bottom: 50px;
}

.infl-table.wide {
    /* Data flow order: number- case - declension - gender - type*/
    grid-auto-flow: row;
    grid-template-columns: repeat(21, 1fr); /* Default value, will be redefined in JS if necessary */
}

.infl-table.narrow {
    /* Data flow order: declension - number- case - gender - type*/
    grid-auto-flow: row;
    grid-template-columns: repeat(6, 1fr); /* Default value, will be redefined in JS if necessary */
    margin-bottom: 0;
}

.infl-table.hidden {
    display: none;
}

.narrow-view-container {
    display: flex;
    flex-wrap: wrap;
}

.infl-cell {
    font-size: 12px;
    padding: 2px 5px;
    border-right: 1px solid #111;
    border-top: 1px solid #111;
}

.infl-cell--hdr {
    font-weight: 700;
}

.infl-cell--fw {
    grid-column: 1 / -1;
}

.infl-cell.infl-cell--sep {
    height: 50px;
}

.infl-cell--sp0 {
    display: none;
}

.infl-cell--sp1 {
    grid-column-end: span 1;
}

.infl-cell--sp2 {
    grid-column-end: span 2;
}

.infl-cell--sp3 {
    grid-column-end: span 3;
}

.infl-cell--sp4 {
    grid-column-end: span 4;
}

.infl-cell--sp5 {
    grid-column-end: span 5;
}

.infl-cell--sp6 {
    grid-column-end: span 6;
}

.infl-cell--sp7 {
    grid-column-end: span 7;
}

.infl-cell--sp8 {
    grid-column-end: span 8;
}

.infl-cell--sp9 {
    grid-column-end: span 9;
}

.infl-cell--sp10 {
    grid-column-end: span 10;
}

.infl-cell--sp11 {
    grid-column-end: span 11;
}

.infl-cell--sp12 {
    grid-column-end: span 12;
}

.infl-cell--hl {
    background: lightgray;
}

.infl-suff {
    cursor: pointer;
}

.infl-suff--suffix-match {
    background-color: rgb(188, 230, 240);
}

.infl-suff--full-feature-match {
    background-color: lightgray;
}

.infl-suff--suffix-match.infl-suff--full-feature-match {
    background-color: rgb(255, 238, 119);
    font-weight: 700;
}