strong {
    font-weight: 700;
}

.inflection-table {
    /*font-family: 'Source Sans Pro', sans-serif;*/
    font-size: 12px;
    border-collapse: collapse;
}

.inflection-table tr:last-child {
    border-bottom: 1px solid #000;
}

.inflection-table__cell {
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    padding: 2px 5px;
}

.inflection-table__cell:first-child {
    border-left: 1px solid #000;
}

.inflection-table__cell--case-title {
    padding-left: 20px;
    font-style: italic;
}

.inflection-table__suffix {
    cursor: pointer;
}

.inflection-table__suffix--suffix-match {
    background-color: rgb(188, 230, 240);
}

.inflection-table__suffix--full-feature-match {
    background-color: lightgray;
}

.inflection-table__suffix--suffix-match.inflection-table__suffix--full-feature-match {
    background-color: rgb(255, 238, 119);
    font-weight: 700;
}

.hidden {
    display: none;
}

.empty-row-column {
    display: none;
}

.no-suffix-column {
    display: none;
}

.switch-btn {
    background: dimgray;
    border: none;
    color: white;
    padding: 10px 20px;
    margin-bottom: 10px;
    display: inline-block;
    text-transform: uppercase;
}

.switch-btn.hidden {
    display: none;
}

.highlighted-cell {
    background: lightgray;
}