.alpheios-word {
	transition: background-color 1s ease-out;
}

.alpheios-alignment__highlight_fix {
    background-color: var(--alpheios-highlight-dark-color);
}

.alpheios-alignment__highlight {
  	background-color: var(--alpheios-highlight-color);
}
