@mixin editable-element {
  display: inline-block;
  border: 1px solid lightblue;
  border-radius: 10px;
  padding: 5px 10px !important;  // TODO: get rid of important after design is finalized
  margin-top: 5px;
}

@mixin editable-element-selected {
  background-color: aliceblue;
}

@mixin act-control {
  border: 1px solid lightblue;
  line-height: 1.3;
  font-weight: 700;
  background-color: azure;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 5px;

  &:not(:first-child) {
    margin-left: 10px;
  }
}

@mixin act-control-selected {
  background-color: lightcyan;
}

@mixin form-control {
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 10px;
  background: darkgray;
  color: white;
  margin-left: 10px;
}

@mixin act-panel {
  .alpheios-annotations__act-panel {
    display: none;
    flex-direction: column;

    [data-annotation-mode="true"] & {
      display: flex;
    }
  }

  .alpheios-annotations__act-ctrls {
    display: flex;
    background-color: white;
    padding: 5px 10px 0; // A bottom margin would be created by the margin of action buttons
    border: 2px solid lightblue;
    border-radius: 10px 10px 0 0;
    margin-top: 5px;

    [data-annotation-selected-action="none"] & {
      border-radius: 10px;
    }
  }

  .alpheios-annotations__act-ctrls-add {
    @include act-control;
    color: mediumseagreen;

    [data-annotation-selected-action="add"] & {
      @include act-control-selected;
    }
  }

  .alpheios-annotations__act-ctrls-edit {
    @include act-control;
    color: steelblue;

    [data-annotation-selected-action="edit"] & {
      @include act-control-selected;
    }
  }

  .alpheios-annotations__act-ctrls-remove {
    @include act-control;
    color: palevioletred;

    [data-annotation-selected-action="remove"] & {
      @include act-control-selected;
    }
  }

  .alpheios-annotations__act-form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 2px solid lightblue;
    border-radius: 0 0 10px 10px;
    margin: -2px 0 5px;
    background-color: lightcyan;

    [data-annotation-selected-action="none"] & {
      display: none;
    }

    &-content {
      margin-bottom: 20px;
    }

    &-headline {
      font-weight: 700;
      margin-bottom: 10px;
    }

    &-text-input-group {
      margin-bottom: 10px;

      & > label {
        display: block;
      }

      & > textarea {
        box-sizing: border-box;
        width: 100%;
      }

      & > input {
        box-sizing: border-box;
        width: 100%;
      }
    }

    &-dropdown-group {
      margin-bottom: 10px;

      & > label {
        min-width: 60px;
        display: inline-block;
        padding-right: 10px;
      }

      & > select {
        color: var(--alpheios-text-color);
        border-color: var(--alpheios-text-color);
        min-width: 120px;
        border-radius: 3px;
      }
    }

    &-ctrls {
      display: flex;
      justify-content: flex-end;
    }

    &-ctrls-add {
      @include form-control;
      background: mediumseagreen;
    }

    &-ctrls-save {
      @include form-control;
      background: steelblue;
    }

    &-ctrls-remove {
      @include form-control;
      background: palevioletred;
    }

    &-ctrls-cancel {
      @include form-control;
      background: lightslategrey;
    }
  }
}