
	div.alpheios-color_schema_light_class {
		background: $alpheios-color_schema_light_background;
		color: $alpheios-color_schema_light_text_color;

		a, div, p, span {
			color: $alpheios-color_schema_light_text_color;
		}

		.alpheios-form-label,
		h3,
		.alpheios-info .alpheios-info__helptext p,
		.alpheios-info,
		.alpheios-popup__toolbar-selection,
		.alpheios-definition__text,
		.alpheios-morph__lexemes {
			color: $alpheios-color_schema_light_text_color;
		}

		.alpheios-link,
		.alpheios-lookup__settings-link,
		.alpheios-popup__providers-link,
		.alpheios-morph__linkedattr {
			color: $alpheios-link-color;
		}

		.infl-cell,
		.infl-table {
			border-color: $alpheios-color_schema_light_text_color;
		}

		.infl-suff--suffix-match {
			color: $alpheios-color_schema_light_text_color;
			background: $alpheios-inflections__suffix_match_background;
		}

		.infl-suff--suffix-match.infl-suff--full-feature-match {
			color: $alpheios-color_schema_light_text_color;
			background: $alpheios-inflections__suffix_full_match_background;
		}

		.infl-cell--hl {
			background: $alpheios-color_schema_light_background_hover;
		}

		.alph_tooltip .tooltiptext {
			background-color: $alpheios-color_schema_light_tooltip-bg;
			color: $alpheios-color_schema_light_tooltip-color;
			border: 1px solid $alpheios-color_schema_light_tooltip-color;
		}

		.alph_tooltip-top::after {
			border-color: $alpheios-color_schema_light_tooltip-color transparent transparent transparent;
		}
		.alph_tooltip-top-right::after {
			border-color: $alpheios-color_schema_light_tooltip-color transparent transparent transparent;
		}
		.alph_tooltip-right::after {
			border-color: transparent $alpheios-color_schema_light_tooltip-color transparent transparent;
		}
		.alph_tooltip-bottom::after,
		.alph_tooltip-bottom-wide::after,
		.alph_tooltip-bottom-narrow::after {
			border-color: transparent transparent $alpheios-color_schema_light_tooltip-color transparent;
		}
		.alph_tooltip-bottom-right::after {
			border-color: transparent transparent $alpheios-color_schema_light_tooltip-color transparent;
		}
		.alph_tooltip-left::after {
			border-color: transparent transparent transparent $alpheios-color_schema_light_tooltip-color;
		}

		.alpheios-morph__dictentry .lemma_index {
			color: $alpheios-toolbar-text-color;
			background: $alpheios-toolbar-color;
		}

		.alpheios-ib__title,
		div.alpheios-ib div.alpheios-ib__title {
			color: $alpheios-toolbar-color;
		}
	}
