#{$alpheios-namespace} {
  font-family: var(--alpheios-sans-font-face);
  font-size: var(--alpheios-base-font-size);
  font-weight: 400;
  color: var(--alpheios-color-dark);
  background: var(--alpheios-color-neutral-lightest);
  border: 1px solid var(--alpheios-color-neutral-dark);
  border-radius: 0.6rem;
  box-sizing: border-box;
  margin: 0;

  h1, h2, h3, h4, h5, h6, p, span, a {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    padding: 0;
    font-style: normal;
  }

  input,
  optgroup,
  select,
  textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
  }

  select {
    text-transform: none;
  }

  textarea {
    overflow: auto;
  }

  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box;
    padding: 0;
  }

  b {
    margin: 0;
    padding: 0;
    vertical-align: inherit;
    font-size: inherit;
    letter-spacing: inherit;
  }

  i {
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
    text-align: inherit;
    font-style: inherit;
  }

  u {
    margin: 0;
    padding: 0;
    vertical-align: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: inherit;
    line-height: inherit;
  }
}

.alpheios-text-small {
  font-size: calc(var(--alpheios-base-font-size) * 0.875);
  line-height: 1.5;
}
