/* panel contents */
.lex_sense1 {
    margin-left: .5em;
}

.lex_sense2 {
    margin-left: 1em;
}

.lex_sense3 {
    margin-left: 1.5em;
}

.lex_sense4 {
    margin-left: 2em;
}

.lex_sense5 {
    margin-left: 2.5em;
}

.lex_sense6 {
    margin-left: 3em;
}

.alpheios-meaning .alpheios-provider {
  font-style: italic;
  font-size: smaller;
}

.sense-separator {
  line-height: 1em;
}

.sense-spacer1 {
  padding-left: 1em;
}

.sense-spacer2 {
  padding-left: 3em;
}