@mixin font-class($baseFontSize) {
    font-family: $alpheios-font-family;
    font-size: $baseFontSize;
    line-height: normal;

    h3 {
      font-size: $baseFontSize;
      line-height: 1.25;
    }

    p,span,div,a, input {
      font-size: $baseFontSize;
      line-height: normal;
    }

    .alpheios-form-label {
        font-size: $baseFontSize * 0.85;
    }

    .alpheios-button-small {
        font-size: $baseFontSize * 0.7;
        line-height: $baseFontSize * 1.75;
        padding: 0 $baseFontSize * 0.90 !important;
        height: auto !important;
    }

    .alpheios-input {
        height: $baseFontSize * 1.75 ;
        padding: $baseFontSize * 0.3;
        line-height: $baseFontSize * 1.75 ;
        box-shadow: none;
    }

    .alpheios-select:not([multiple]):not([size]) {
        height: $baseFontSize * 2.5 ;
    }

    .alpheios-panel__options-item .alpheios-select:not([multiple]):not([size]) {
        height: $baseFontSize * 2.5 !important;
    }

    .alpheios-inflections__content .alpheios-select:not([multiple]):not([size]) {
        height: auto;
    }

    .alpheios-text__smallest {
        font-size: $baseFontSize * 0.675;
    }

    .alpheios-text__smaller {
        font-size: $baseFontSize * 0.75;
    }

    .alpheios-text__small {
        font-size: $baseFontSize * 0.875;
    }

    .alpheios-text__medium {
        font-size: $baseFontSize;
    }

    .alpheios-text__large {
            font-size: $baseFontSize * 1.1;
    }

    .alpheios-text__larger {
        font-size: $baseFontSize * 1.25;
    }

    .alpheios-panel__header-action-btn,
    .alpheios-panel__header-action-btn.active:hover,
    .alpheios-panel__header-action-btn.active:focus,
    .alpheios-panel__header-nav-btn {
        width: $baseFontSize * 1.25;
        height: $baseFontSize * 1.25;
        margin: 25px - $baseFontSize 5px;

        svg {
          width: $baseFontSize * 1.25;
          height: $baseFontSize * 1.25;
        }
    }

    /** TODO Remove this when we port inflection tables to Vue **/
    .infl-cell, .infl-cell span {
        font-size: $baseFontSize * 0.75;
    }
    .infl-cell sup {
        font-size: $baseFontSize * 0.675;
    }

    .alpheios-inflections__title {
        font-size: $baseFontSize * 1.25;
    }
    .alpheios-ib__title,
    div.alpheios-ib div.alpheios-ib__title,
    .alpheios-ib .alpheios-inflections__title {
        font-size: $baseFontSize;
    }

    .alpheios-inflections__additional_title {
        font-size: $baseFontSize * 0.875;
        font-weight: 700;
    }

    .alpheios-morph__dictentry .lemma_index, .alpheios-morph__dictentry .lemma_index_spacer {
        font-size: $baseFontSize * 0.875;
        line-height: $baseFontSize * 1.3;
        width: $baseFontSize * 1.3;
        height: $baseFontSize * 1.3;
        border-radius: $baseFontSize * 0.8;
    }

    .alpheios-morph__morphdata {
        margin-left: 15px + $baseFontSize * 1.3;
    }

    .alpheios-morph__listitem,
    .alpheios-popup__header-selection {
        font-size: $baseFontSize * 1.3;
    }

    .alpheios-skin_panel {
      padding-top: $baseFontSize;
    }


   .alpheios-checkbox-block {
        line-height: $baseFontSize * 1.7;

        label {
            padding-left: $baseFontSize * 1.325;
            min-height: $baseFontSize * 1.25;

            &::before{
              height: $baseFontSize;
              width: $baseFontSize;
            }

            &::after {
              height: $baseFontSize * 0.3125;
              width: $baseFontSize * 0.5625;
              left: $baseFontSize * 0.25;
              top: $baseFontSize * 0.4375;
            }
        }
   }

   .alpheios-popup-lexdataloading__progress-text {
        font-size: $baseFontSize * 0.8;
   }

   .alpheios-checkbox-block.alpheios-checkbox-small {
        line-height: $baseFontSize * 1.3;

        label {
            padding-left: $baseFontSize;
            min-height: $baseFontSize * 0.75;

            &::before{
              height: $baseFontSize * 0.75;
              width: $baseFontSize * 0.75;
            }

            &::after {
              height: $baseFontSize * 0.23;
              width: $baseFontSize * 0.45;
              left: $baseFontSize * 0.18;
              top: $baseFontSize * 0.32;
            }
        }
   }


  $baseSize: $baseFontSize + 12px;

    .alpheios-skin_properties_item {
        font-size: $baseFontSize;
        width: $baseSize;
        height: $baseSize;
        line-height: $baseSize;
        border-radius: $baseSize/2;
    }

    .alpheios-skin_properties_item__small_font {
        font-size: $baseFontSize * 0.8;
        width: $baseSize * 0.8;
        height: $baseSize * 0.8;
        line-height: $baseSize * 0.8;
        border-radius: $baseSize * 0.8 * 0.5;
    }

    .alpheios-skin_properties_item__large_font {
        font-size: $baseFontSize * 1.2;
        width: $baseSize * 1.2;
        height: $baseSize * 1.2;
        line-height: $baseSize * 1.2;
        border-radius: $baseSize * 1.2;
    }

}


.#{$alpheios-uikit-namespace}.alpheios-font_medium_class {
    @include font-class($alpheios-base-font-size);
}

.#{$alpheios-uikit-namespace}.alpheios-font_small_class {
    @include font-class($alpheios-small-font-size);
}

.#{$alpheios-uikit-namespace}.alpheios-font_large_class {
    @include font-class($alpheios-large-font-size);

    .alpheios-panel__header-action-btn,
    .alpheios-panel__header-action-btn.active:hover,
    .alpheios-panel__header-action-btn.active:focus,
    .alpheios-panel__header-nav-btn {
        margin-right: 10px;
        margin-left: 10px;
    }
}

.#{$alpheios-uikit-namespace}.alpheios-font_medium_class *[lang='ara']{
  font-family: $alpheios-font-family-arabic;
}

.#{$alpheios-uikit-namespace}.alpheios-font_small_class *[lang='ara']{
  font-family: $alpheios-font-family-arabic;
}

.#{$alpheios-uikit-namespace}.alpheios-font_large_class *[lang='ara']{
  font-family: $alpheios-font-family-arabic;
}

