.alpheios-lex-text_container {
  font-family: var(--alpheios-sans-font-face);
  line-height: 1.25;
}

.alpheios-lex-lex_sense1, .lex_sense1 {
  margin-left: .5em;
}

.alpheios-lex-lex_sense2, .lex_sense2 {
  margin-left: 1em;
}

.alpheios-lex-lex_sense3, .lex_sense3 {
  margin-left: 1.5em;
}

.alpheios-lex-lex_sense4, .lex_sense4 {
  margin-left: 2em;
}

.alpheios-lex-lex_sense5, .lex_sense5 {
  margin-left: 2.5em;
}

.alpheios-lex-lex_sense6, .lex_sense6 {
  margin-left: 3em;
}

.alpheios-meaning .alpheios-provider {
  font-style: italic;
  font-size: smaller;
}

.alpheios-lex-sense-separator, .sense-separator {
  line-height: 1em;
}

.alpheios-lex-sense-spacer1, .sense-spacer1 {
  padding-left: 1em;
}

.alpheios-lex-sense-spacer2, .sense-spacer2 {
  padding-left: 3em;
}

.alpheios-lex-alph-source, .alph-source {
  margin-top: 1em;
}
