.alpheios-text-small {
	font-size: 0.875rem;
	line-height: 1.5;
}

.alpheios-form-label {
	color: #333;
	font-size: 0.875rem;
}

.alpheios-input {
	box-sizing: border-box;
	margin: 0;
	border-radius: 0;
	font: inherit;
	max-width: 100%;
	width: 100%;
	border: 1px solid #666;
	padding: 0 10px;
	background: #FFF;
	color: #666;
	height: 40px;
	vertical-align: middle;
	display: inline-block;
	-webkit-appearance: none;

	&[type="search"]::-webkit-search-cancel-button,
	&[type="search"]::-webkit-search-decoration {
		-webkit-appearance: none;
	}

	&[type="number"]::-webkit-inner-spin-button,
	&[type="number"]::-webkit-outer-spin-button {
		height: auto;
	}

	&::-moz-placeholder {
		opacity: 1;
	}

	&:not(input) {
		line-height: 40px;
	}

	&:focus {
		outline: none;
	}

	&:disabled {
		background-color: #f8f8f8;
		color: #999;
	}

	&::placeholder {
		color: #999;
	}

	&::-ms-input-placeholder {
		color: #999 !important;
	}
}

.alpheios-select {
	box-sizing: border-box;
	margin: 0;
	border-radius: 0;
	font: inherit;
	text-transform: none;
	max-width: 100%;
	width: 100%;
	border: 1px solid #666;
	padding: 0 10px;
	background: #FFF;
	color: #666;
	-webkit-appearance: none;

	&:not([multiple]):not([size]) {
		height: 40px;
		vertical-align: middle;
		display: inline-block;
	}

	&:not(select) {
		line-height: 40px;
	}

	&[multiple],
	&[size] {
		padding-top: 4px;
		padding-bottom: 4px;
		vertical-align: top;
	}

	&:focus {
		outline: none;
	}

	&:disabled {
		background-color: #f8f8f8;
		color: #999;
	}

	&:not([multiple]):not([size]) {
		-webkit-appearance: none;
		-moz-appearance: none;
		padding-right: 20px;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%201%209%206%2015%206%22%20%2F%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%2013%209%208%2015%208%22%20%2F%3E%0A%3C%2Fsvg%3E%0A");
		background-repeat: no-repeat;
		background-position: 100% 50%;
	}

	&:not([multiple]):not([size])::-ms-expand {
		display: none;
	}

	&:not([multiple]):not([size]) option {
		color: #444;
	}

	&:not([multiple]):not([size]):disabled {
		background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23999%22%20points%3D%2212%201%209%206%2015%206%22%20%2F%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23999%22%20points%3D%2212%2013%209%208%2015%208%22%20%2F%3E%0A%3C%2Fsvg%3E%0A");
	}
}

#{$alpheios-namespace} {
  .alpheios-input {
  	font-family: $alpheios-font-family;
    font-size: $alpheios-base-font-size * 0.875;
    height: $alpheios-base-font-size * 2;
  }

  .alpheios-form-label {
  	font-family: $alpheios-font-family;
  	font-size: $alpheios-base-font-size * 0.85;
  }

  .alpheios-skin_properties_item {
  	font-family: $alpheios-font-family;
  	background-color: $alpheios-toolbar-color;
    color: $alpheios-toolbar-text-color;
  	list-style-type: none;
  	vertical-align: middle;

  	font-size: $alpheios-base-font-size;
  	width: $alpheios-base-font-size * 1.75;
  	height: $alpheios-base-font-size * 1.75;
  	line-height: $alpheios-base-font-size * 1.75;
  }

  .alpheios-skin_properties_item__small_font {
  	font-size: $alpheios-base-font-size * 0.8;
  	width: $alpheios-base-font-size * 1.4;
  	height: $alpheios-base-font-size * 1.4;
  	line-height: $alpheios-base-font-size * 1.4;
  	border-radius: $alpheios-base-font-size * 0.7;
  }

  .alpheios-skin_properties_item__medium_font {
  	font-size: $alpheios-base-font-size;
  	width: $alpheios-base-font-size * 1.75;
  	height: $alpheios-base-font-size * 1.75;
  	line-height: $alpheios-base-font-size * 1.75;
  	border-radius: $alpheios-base-font-size * 0.9;
  }

  .alpheios-skin_properties_item__large_font {
  	font-size: $alpheios-base-font-size * 1.2;
  	width: $alpheios-base-font-size * 2.1;
  	height: $alpheios-base-font-size * 2.1;
  	line-height: $alpheios-base-font-size * 2.1;
  	border-radius: $alpheios-base-font-size * 1.1;
  }

}