$alpheios-irregular-base-font-class: 'alpheios-irregular-base-font-size';
$alpheios-namespace: '.alpheios-content';
$alpheios-layout-compact: '.alpheios-layout-compact';
$alpheios-layout-large: '.alpheios-layout-large';

$alpheios-font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
$alpheios-font-family-arabic: Amiri, serif;
$alpheios-base-font-size: 16px;
$alpheios-base-font-color: #333333;
$alpheios-base-background-color: #ffffff;
$alpheios-base-border-color: #d3d3d3;

/************ UIKit vars ************************/
$alpheios-copy-color: #666666;
$alpheios-link-color: #3E8D9C;
$alpheios-toolbar-color: #4E6476;
$alpheios-toolbar-text-color: #ffffff;
$alpheios-link-hover-color: #5BC8DC;
$alpheios-link-color-dark-bg: #D1D1D0;
$alpheios-link-color-dark-bg-disabled: #9E9C9A;
$alpheios-toolbar-active-color: #7E8897;
$alpheios-logo-color: #BCE5F0;
$alpheios-icon-color: #73CDDE;
$alpheios-sidebar-header-border-color: #B8B7B5;

$alpheios-highlight-color: #F6D918;
$alpheios-highlight-dark-color: #E49A0D;

$alpheios-headers-color: #333333;

/*
 Calculates a size of text elements relative to the base size.
 Such elements can be scaled proportionally by changing the `--alpheios-base-text-size` custom prop.
 */
@function textsize ($px-size, $base-size: 16px) {
  @return calc(var(--alpheios-base-text-size) * #{$px-size / $base-size})
}

/*
 Calculates a size of UI elements relative to the base size.
 Such elements can be scaled proportionally by changing the `--alpheios-base-ui-size` custom prop.
 */
@function uisize ($px-size, $base-size: 16px) {
  @return calc(var(--alpheios-base-ui-size) * #{$px-size / $base-size})
}

@mixin alpheios-border {
  border: 1px solid var(--alpheios-border-color);
  border-radius: uisize(10px);
}

@mixin alpheios-interactive {
  color: var(--alpheios-color-vivid);
  cursor: pointer;

  &:hover,
  &:active {
    text-decoration: underline;
  }
}