#{$alpheios-ID-namespace} {
  .uk-button {
  	font-family: $alpheios-font-family;
    font-size: $alpheios-base-font-size * 0.7;
    line-height: $alpheios-base-font-size * 1.75;
    background-color: $alpheios-toolbar-color;
		color: $alpheios-toolbar-text-color;
		text-transform: uppercase;
		border-radius: 0;
  }

  .uk-input {
  	font-family: $alpheios-font-family;
    font-size: $alpheios-base-font-size * 0.875;
    height: $alpheios-base-font-size * 2;
  }

  .uk-link {
  	font-family: $alpheios-font-family;
  	color: $alpheios-link-color;
  	font-size: $alpheios-base-font-size * 0.7;
  }

  .uk-form-label {
  	font-family: $alpheios-font-family;
  	font-size: $alpheios-base-font-size * 0.85;
  }

  .alpheios-skin_properties_item {
  	font-family: $alpheios-font-family;
  	background-color: $alpheios-toolbar-color;
    color: $alpheios-toolbar-text-color;
  	list-style-type: none;
  	vertical-align: middle;

  	font-size: $alpheios-base-font-size;
  	width: $alpheios-base-font-size * 1.75;
  	height: $alpheios-base-font-size * 1.75;
  	line-height: $alpheios-base-font-size * 1.75;
  }

  .alpheios-skin_properties_item__small_font {
  	font-size: $alpheios-base-font-size * 0.8;
  	width: $alpheios-base-font-size * 1.4;
  	height: $alpheios-base-font-size * 1.4;
  	line-height: $alpheios-base-font-size * 1.4;
  	border-radius: $alpheios-base-font-size * 0.7;
  }

  .alpheios-skin_properties_item__medium_font {
  	font-size: $alpheios-base-font-size;
  	width: $alpheios-base-font-size * 1.75;
  	height: $alpheios-base-font-size * 1.75;
  	line-height: $alpheios-base-font-size * 1.75;
  	border-radius: $alpheios-base-font-size * 0.9;
  }

  .alpheios-skin_properties_item__large_font {
  	font-size: $alpheios-base-font-size * 1.2;
  	width: $alpheios-base-font-size * 2.1;
  	height: $alpheios-base-font-size * 2.1;
  	line-height: $alpheios-base-font-size * 2.1;
  	border-radius: $alpheios-base-font-size * 1.1;
  }

}