%alpheios-button {
  font-family: var(--alpheios-sans-font-face);
  font-size: var(--alpheios-base-text-size);
  font-weight: 700;
  margin: 0;
  border: 1px solid transparent;
  overflow: visible;
  white-space: nowrap;
  display: inline-block;
  box-sizing: border-box;
  padding: 0.6em 1.2em;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  border-radius: 0.6em;
  cursor: pointer;

  // Remove the inner border and padding in Firefox
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }
}

.alpheios-button-primary {
  @extend %alpheios-button;
  color: var(--alpheios-btn-primary-font-color);
  background-color: var(--alpheios-btn-primary-bg-color);
  border-color: var(--alpheios-btn-primary-border-color);

  &:hover,
  &:focus {
    color: var(--alpheios-btn-primary-font-color-hover);
    background-color: var(--alpheios-btn-primary-bg-color-hover);
    border-color: var(--alpheios-btn-primary-border-color-hover);
    box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.25);
  }

  &:active {
    color: var(--alpheios-btn-primary-font-color-pressed);
    background-color: var(--alpheios-btn-primary-bg-color-pressed);
    border-color: var(--alpheios-btn-primary-border-color-pressed);
    box-shadow: inset 0 0.25em 0.25em rgba(0, 0, 0, 0.1);
  }
}

.alpheios-button-secondary {
  @extend %alpheios-button;
  color: var(--alpheios-btn-secondary-font-color);
  background-color: var(--alpheios-btn-secondary-bg-color);
  border-color: var(--alpheios-btn-secondary-border-color);

  &:hover,
  &:focus {
    color: var(--alpheios-btn-secondary-font-color-hover);
    background-color: var(--alpheios-btn-secondary-bg-color-hover);
    border-color: var(--alpheios-btn-secondary-border-color-hover);
    box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.25);
  }

  &:active {
    color: var(--alpheios-btn-secondary-font-color-pressed);
    background-color: var(--alpheios-btn-secondary-bg-color-pressed);
    border-color: var(--alpheios-btn-secondary-border-color-pressed);
    box-shadow: inset 0 0.25em 0.25em rgba(0, 0, 0, 0.1);
  }
}

.alpheios-button-tertiary, button.alpheios-button-tertiary {
  @extend %alpheios-button;
  color: var(--alpheios-btn-tertiary-font-color);
  background-color: var(--alpheios-btn-tertiary-bg-color);
  border-color: var(--alpheios-btn-tertiary-border-color);

  &:hover,
  &:focus {
    color: var(--alpheios-btn-tertiary-font-color-hover);
    background-color: var(--alpheios-btn-tertiary-bg-color-hover);
    border-color: var(--alpheios-btn-tertiary-border-color-hover);
    box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.25);
  }

  &:active {
    color: var(--alpheios-btn-tertiary-font-color-pressed);
    background-color: var(--alpheios-btn-tertiary-bg-color-pressed);
    border-color: var(--alpheios-btn-tertiary-border-color-pressed);
    box-shadow: inset 0 0.25em 0.25em rgba(0, 0, 0, 0.1);
  }
}