
div.alpheios-checkbox-block {
  display: inline-block;
  position: relative;
  overflow: hidden;
  line-height: uisize(22px);

  max-width: uisize(235px);
  vertical-align: top;
}

.alpheios-checkbox-block {
  input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    left: -999px;
  }

  label {
    position: relative;
    display: inline-block;
    user-select: none;
    vertical-align: top;

    /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
    padding-left: uisize(22px);
    padding-top: uisize(2px);

    &::before,
    &::after {
      position: absolute;
      content: "";

      /*Needed for the line-height to take effect*/
      display: inline-block;
    }

    &::before {
      height: uisize(16px);
      width: uisize(16px);

      border: uisize(1px) solid;
      border-radius: uisize(4px);
      left: 0;

      /*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
       *to vertically center it.
       */
      top: uisize(3px);
    }

    &::after {
      height: uisize(5px);
      width: uisize(9px);
      border-left: uisize(2px) solid;
      border-bottom: uisize(2px) solid;

      transform: rotate(-45deg);

      left: uisize(3px);
      top: uisize(6px);
    }
  }

  input[type="checkbox"] + label::after {
    content: none;
  }

  // Unhide on the checked state
  input[type="checkbox"]:checked + label::after {
    content: "";
  }
}
