.alpheios-input {
  box-sizing: border-box;
  margin: 0;
  font: inherit;
  font-size: var(--alpheios-base-text-size);
  max-width: 100%;
  width: 100%;
  @include alpheios-border;
  padding: textsize(8px);
  background: var(--alpheios-text-bg-color);
  color: var(--alpheios-text-color);
  vertical-align: middle;
  display: inline-block;
  -webkit-appearance: none;

  &[type="search"]::-webkit-search-cancel-button,
  &[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  &[type="number"]::-webkit-inner-spin-button,
  &[type="number"]::-webkit-outer-spin-button {
    height: auto;
  }

  &::-moz-placeholder {
    opacity: 1;
  }

  &:not(input) {
    line-height: 40px;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    background-color: var(--alpheios-color-neutral-dark);
    color: var(--alpheios-color-neutral-lightest);
  }

  &::placeholder {
    color: var(--alpheios-color-neutral-light);
  }

  &::-ms-input-placeholder {
    color: var(--alpheios-color-neutral-light) !important;
  }
}