$alpheios-uikit-namespace: 'auk';
$alpheios-irregular-base-font-class: 'alpheios-irregular-base-font-size';

$alpheios-font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
$alpheios-base-font-size: 16px;

$alpheios-link-color-dark-bg: #D1D1D0;
$alpheios-link-color-dark-bg-disabled: #9E9C9A;
$alpheios-link-hover-color: #5BC8DC;

$alpheios-highlight-color: #F6D918;
$alpheios-highlight-light-color: #fdf7d0;
$alpheios-highlight-dark-color: #E49A0D;

$alpheios-copy-color: #666666;
$alpheios-link-color: #3E8D9C;
$alpheios-headers-color: #333333;

$alpheios-toolbar-color: #4E6476;
$alpheios-toolbar-active-color: #7E8897;

$alpheios-tooltip-bg: #fcfcfa;
$alpheios-tooltip-color: $alpheios-toolbar-color;
$alpheios-tooltip-border: $alpheios-toolbar-color;

$alpheios-sidebar-header-border-color: #B8B7B5;


/***************** panel settings **********************/
$alpheios-games-panel-background: #fff;
$alpheios-games-panel-border-color: #d3d3d3;
$alpheios-games-panel-border-shadow-color: rgba($alpheios-games-panel-border-color, 0.5);

$alpheios-games-panel-text-color: #0E2233;
